<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
      <ion-card-content>
        <div #directionsPanel id="directionsPanel"></div>
      </ion-card-content>
    </ion-card>
    <ion-card id="directionForm" *ngIf="!isDirection">
        <ion-card-content>
            <ion-input  [(ngModel)]="from" placeholder="From"></ion-input>
            <ion-input [(ngModel)]="to" placeholder="To"></ion-input>
            <ion-button (click)="getDirection()">Get Direction</ion-button>
        </ion-card-content>
      </ion-card>
    <div #gMaps id="gMaps"></div>
</ion-content>
